@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #00316b,
  $secondary: #0082c3,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900,
);

// Import all the styles for the classes.
@use '@material/typography/mdc-typography';
// The following classes become available:
//   mdc-typography--headline1
//   mdc-typography--headline2
//   mdc-typography--headline3
//   mdc-typography--headline4
//   mdc-typography--headline5
//   mdc-typography--headline6
//   mdc-typography--subtitle1
//   mdc-typography--subtitle2
//   mdc-typography--body1
//   mdc-typography--body2
//   mdc-typography--caption
//   mdc-typography--button
//   mdc-typography--overline
//   mdc-typography--body1

// Import the mixins.
@use '@material/typography/index' as typography;

:root {
  --fff: #fff;
  --f8f8f8: #f8f8f8;
  --f3f3f3: #f3f3f3;
  --eee: #eee;
  --ebebeb: #ebebeb;
  --ddd: #ddd;
  --d7d7d7: #d7d7d7;
  --ccc: #ccc;
  --bbb: #bbb;
  --aaa: #aaa;
  --g999: #999;
  --g555: #555;
  --g444: #444;
  --g333: #333;
  --g111: #111;
  --g000: #000;
  --boxShadowOne: #ccc;
  --boxShadowTwo: #cacaca;
  --boxShadowThree: #d4d4d4;
  --ir: #ddd;
  --champShadow: #555;
  --transactHeader: #f5fcff;
  --draftSwapped: #f8fcff;
  --waiverAdd: #e9fff1;
  --waiverDrop: #ffe9e9;
  --bracketMatch: #fafeff;
  --matchupSelected: #fff;
  --fadeOne: rgba(255, 255, 255, 0) 0%;
  --fadeTwo: rgba(255, 255, 255, 0.7) 50%;
  --fadeThree: rgba(255, 255, 255, 0.9) 90%;
  --fadeFour: rgba(255, 255, 255, 1) 100%;
  --blueOne: #00316b;
  --r1: #f7f9fd;
  --r2: #fbf7f7;
  --r3: #f7fbf7;
  // Positions
  --QBfade: #ff8fb2;
  --WRfade: #afd4ff;
  --RBfade: #6ccac1;
  --TEfade: #ffd6aa;
  --Kfade: #deb4ff;
  --DEfadeFfade: #fffbbc;
  --PICKSfade: #73b647;
  --CBfade: #ffcc7a;
  --SSfade: #b7a1db;
  --FSfade: #ebe7b3;
  --DEfade: #b1d0e9;
  --DLfade: #c392d3;
  --LBfade: #98c097;

  --QB: #ff2a6d;
  --WR: #58a7ff;
  --RB: #00ceb8;
  --TE: #ffae58;
  --K: #bd66ff;
  --DEF: #fff67a;
  --DL: #ff795a;
  --LB: #6d7df5;
  --DB: #ff7cb6;
  --BN: #b6d0eb;

  // Ages
  --age20: rgb(87, 187, 138);
  --age21: rgb(103, 189, 135);
  --age22: rgb(120, 192, 131);
  --age23: rgb(137, 195, 128);
  --age24: rgb(154, 197, 124);
  --age25: rgb(171, 200, 120);
  --age26: rgb(187, 203, 117);
  --age27: rgb(204, 205, 113);
  --age28: rgb(221, 208, 110);
  --age29: rgb(238, 211, 106);
  --age30: rgb(255, 214, 102);
  --age31: rgb(253, 205, 103);
  --age32: rgb(251, 197, 104);
  --age33: rgb(248, 187, 105);
  --age34: rgb(246, 179, 107);
  --age35: rgb(243, 169, 108);
  --age36: rgb(240, 160, 109);
  --age37: rgb(238, 152, 111);
  --age38: rgb(235, 142, 112);
  --age39: rgb(233, 134, 113);
  --age40: rgb(230, 124, 115);

  // Roster count, over/under
  --over: red;
  --under: rgb(0, 190, 0);
}

html,
body {
  position: relative;
  margin: 0;
  background-color: theme.$surface;
  color: theme.$on-surface;
  min-height: 100vh;
  background: #f4f4f4;
  background: linear-gradient(to bottom right, #f4f4f4, #ebebeb);
  background: -webkit-linear-gradient(to bottom right, #f4f4f4, #ebebeb);
}

//
// Some defaults that may be helpful to you.
// If you just want to use these, and not the classes, you can instead just
// @use '@material/typography/index' as typography, and your CSS file will be smaller.
//
html {
  @include typography.typography("body1");
}

h1 {
  @include typography.typography("headline1");
}

h2 {
  @include typography.typography("headline2");
}

h3 {
  @include typography.typography("headline3");
}

h4 {
  @include typography.typography("headline4");
}

h5 {
  @include typography.typography("headline5");
}

h6 {
  @include typography.typography("headline6");
}

caption {
  @include typography.typography("caption");
}

code,
pre {
  font-family: "Roboto Mono", monospace;
}

small {
  font-size: 0.9em;
}

big {
  font-size: 1.1em;
}

b,
strong {
  font-weight: bold;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-button--outlined:not(:disabled) {
  background-color: #f9f9f9 !important;
}
